@{
    ViewBag.Title = "About";
}





<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="aboutimg">
                    <h3>About us</h3>
                    <p>We have a large range of items available and ready for pick up or delivery now. Two-levels of beautiful home furniture and accessories. Locally Owned & Operated. Established In 1993. Open Mon-Sat. Highlights: Established In 1993, Providing High-Quality Furniture.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="aboutimg">
                    <figure><img src="~/images/Avangarda_klu.jpg" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end our brand -->