
@{
    ViewBag.Title = "blog";
}

<div class="contactus">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title">
                    <h2>Specail Tables</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margin">
                <div class="news-box">
                    <figure><img src="~/images/blol.jpg" alt="img" /></figure>
                    <h3>Best Table</h3>

                    <p>
                        This statement side table effortlessly elevates your home, featuring a beautiful green printed glass with the option of brass or black square legs!



                        Whether it’s a home for your plant, new lamp or your fav trinkets, the Asta side table does all of those things but with a lot more style!
                    </p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 margin">
                <div class="news-box">
                    <figure><img src="~/images/blog.jpg" alt="img" /></figure>
                    <h3>Best Table</h3>

                    <p>With clean-lined modern style, our Ibiza outdoor collection is crafted of rust proof aluminium frames with a durable powder coat finish.</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                <div class="news-box">
                    <figure><img src="~/images/blog.jpg" alt="img" /></figure>
                    <h3>Best Table</h3>

                    <p>All pieces in the Ibiza collection have been topped with FSC certified Teak tops giving that touch of elegance without the price tag!</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="news-box">
                    <figure><img src="~/images/blol.jpg" alt="img" /></figure>
                    <h3>Best Table</h3>

                    <p>If you prefer to dine on individual chairs, check out our outdoor resin dining chair range to curate an incredibly affordable dining setting. </p>
                </div>
            </div>
        </div>
    </div>
</div>
