
@{
    ViewBag.Title = "headPannel";
}


<div class="row">
    <div class="col-md-12">
        <h1>Welcome to the Head Pannel </h1>
        <a href="@Url.Action("ManageStaff","Labour")" class="btn btn-warning">Labour Manage</a>
        <br />
        <a href="@Url.Action("ManagePayment","Salary")" class="btn btn-warning">Payment Manage</a>
        <br />

        <a href="@Url.Action("ManageProduct","Product")" class="btn btn-warning">Product Manage</a>
        <br />
        <a href="@Url.Action("ManageQuery","Home")" class="btn btn-warning">Query Manage</a>
        <br />


    </div>

</div>
