
@{
    ViewBag.Title = "headLogin";
}

<div class="row">
    <div class="col-md-12">
        <form method="post" action="headCheck">
            <div class="form-group">
                <label>Enter User Name</label>
                <input type="Email" id="head_ID" name="head_ID" placeholder="Enter Email" class="form-control" />
            </div>

            <div class="form-group">
                <label>Enter User Password</label>
                <input type="password" id="head_Password" name="head_Password" placeholder="Enter Password" class="form-control" />
            </div>

            <input type="submit" value="Login In " class="btn btn-primary" />
        </form>
    </div>

</div>
